body{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar{
    background-color: rgb(231, 207, 233);
}

.quem-somos{
    background-color: #6b4f6e;
    color: white;
}

.margin{
    padding-top: 15px;
    padding-bottom: 50px;
}

.parceiros{
    background-color: rgb(75, 44, 82);
    color: white;
}

.bg-footer{
    background-color: thistle;
    color: rgb(53, 1, 53);
}